{%extends "base.html"%}
{% load static %}
{% block cuerpo%}

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h1>Agregar Perros</h1>
            <div class="card">
              <div class="card-body">
                <form action="/registrarPerro/" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Codigo del Perro" minLenght="3" maxlenght="7" required>
                  </div>
                  <div class="form-group py-3">
                    <input type="text" id="txtraza" name="txtraza" class="form-control" placeholder="Raza" maxlenght="100" required>
                  </div>
                  <div class="form-group py-2">
                    <input type="text" id="numedad" name="numedad" class="form-control" placeholder="Edad" value="1" min="1" max="20" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtcomportamiento" name="txtcomportamiento" class="form-control" placeholder="Nombre comportamiento" maxlenght="100" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtvacunas" name="txtvacunas" class="form-control" placeholder="Vacunas" maxlenght="100" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtsexo" name="txtsexo" class="form-control" placeholder="Sexo" maxlenght="100" required>
                  </div>

                  <div class="form-group py-2">
                    <button  type="submit" class="btn btn-primary" >Guardar</button>
                  </div>
                  
  
                </form>
              </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-8">
            <h1>Listado de Perros</h1>
            <img src="{% static 'img/perros.jpg' %}" alt="Ejemplo de imagen">

        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Comportamiento</th>
                    <th scope="col">Vacunas</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">-</th>


                  </tr>
                </thead>
                <tbody>
                    {% for m in misperros%}
                      <tr>
                        <td>
                          {{forloop.counter}}
                        </td>
                        <td>{{m.codigo}}</td>
                        <td>{{m.raza}}</td>
                        <td>{{m.edad}}</td>
                        <td>{{m.comportamiento}}</td>
                        <td>{{m.vacunas}}</td>
                        <td>{{m.sexo}}</td>

                        <td><a href="seleccionarPerro/{{m.codigo}}" class="btn btn-success">Editar</a></td>
                        <td><a href="borrarPerro/{{m.codigo}}" class="btn btn-danger">Borrar</a></td>
                      </tr>
                    {% endfor %}

                </tbody>
              </table>
        </div>
    
        </div>
    </div>


    
{%endblock%}
