{% extends "base.html"%}

{% block cuerpo%}
<div class="row">
<div class="col-md-4 offset-md-4">
    <!-- La terjeta card-->
    <div class="card">
        <div class="card-body">
        <form action="{% url 'editarEmpleados' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" id="txtid" name="txtid" class="form-control" value="{{misempleados.id}}" minLenght="3" maxlenght="100" required>
            </div>
            <div class="form-group py-3">
              <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{misempleados.nombre}}" maxlenght="100" required>
            </div>
            <div class="form-group py-2">
              <input type="text" id="txtapellidos" name="txtapellidos" class="form-control" value="{{misempleados.apellidos}}" maxlenght="100" required>
            </div>

            <div class="form-group py-3">
              <input type="text" id="txtdni" name="txtdni" class="form-control" value="{{misempleados.dni}}" maxlenght="10" required>
            </div>


            <div class="form-group py-3">
              <input type="number" id="numsal" name="numsal" class="form-control" value="{{misempleados.salario}}" min="1" required>
            </div>

            <div class="form-group py-3">
                <input type="date" id="datefec" name="datefec" class="form-control" value="{{misempleados.fechaenc}}" required>
              </div>
            <div class="form-group py-3">
              <input type="text" id="txtsexo" name="txtsexo" class="form-control" value="{{misempleados.sexo}}" min="1" required>
            </div>


            <div class="form-group py-2">
              <button  type="submit" class="btn btn-primary" >Guardar</button>
            </div>

        </form>
        </div>
        </div>
</div>
</div>    
{%endblock%}
